<!-- Categories Start -->
<div class="container-fluid pt-5" style="padding: 0 15px !important">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="https://cdn.nhathuoclongchau.com.vn/unsafe/40x0/filters:quality(90)/https://cms-prod.s3-sgn09.fptcloud.com/smalls/canmuathuoc_29bf521996.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Cần mua thuốc</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="https://cdn.nhathuoclongchau.com.vn/unsafe/40x0/filters:quality(90)/https://cms-prod.s3-sgn09.fptcloud.com/smalls/tuvanvoiduocsi_1855320b40.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Tư vấn dược sĩ</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="https://cdn.nhathuoclongchau.com.vn/unsafe/40x0/filters:quality(90)/https://cms-prod.s3-sgn09.fptcloud.com/smalls/timnhathuoc_cbadb52c85.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Tìm nhà thuốc</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="https://cdn.nhathuoclongchau.com.vn/unsafe/40x0/filters:quality(90)/https://cms-prod.s3-sgn09.fptcloud.com/smalls/doncuatoi_5058ac6058.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Đơn của tôi</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="https://cdn.nhathuoclongchau.com.vn/unsafe/40x0/filters:quality(90)/https://cms-prod.s3-sgn09.fptcloud.com/smalls/vaccine_013e37b079.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Tiêm Vắc xin</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="https://cdn.nhathuoclongchau.com.vn/unsafe/96x0/filters:quality(90)/https://cms-prod.s3-sgn09.fptcloud.com/smalls/kiemtrasuckhoe_15f6ff48e9.png" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Chuẩn đoán</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Categories End -->