<!-- Categories Start -->
<div class="container-fluid pt-5" style="padding: 0 15px !important">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="img/cat-1.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Cần mua thuốc</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="img/cat-2.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Tư vấn dược sĩ</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="img/cat-3.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Tìm nhà thuốc</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="img/cat-4.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Đơn của tôi</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="img/cat-4.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Tiêm Vắc xin</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div style="padding: 16px 18px" class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 40px; height: 40px;">
                        <img class="img-fluid" src="img/cat-3.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Chuẩn đoán</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Categories End -->