<div class="order-item">
    <div style="padding: 12px 16px 12px 16px;" class="d-flex justify-content-between">
        <div class="d-flex" style="align-items: center;">
            <strong style="color: black;">Đơn hàng 27/07/2024</strong>
            <i class="fa-solid fa-circle" style="margin: 0 10px; font-size: 4px;"></i>
            <span>Giao hàng tận nơi</span>
            <i class="fa-solid fa-circle" style="margin: 0 10px; font-size: 4px;"></i>
            <span>#ABCXYZ</span>
        </div>

        <div class="d-flex" style="align-items: center;">
            <i class="fa-solid fa-circle" style="margin: 0 10px; font-size: 10px;"></i>
            <span>Đang xử lý</span>
        </div>
    </div>

    <div style="border-top: 2px solid #EDF0F3;"></div>

    <div class="customer-container">
        <table class="custom-table table table-light table-borderless table-hover text-center">
            <tbody class="align-middle">
                <tr>
                    <td style="width: 100%;" class="cart-list-product">
                        <img [src]="'https://cdn.nhathuoclongchau.com.vn/unsafe/50x50/https://cms-prod.s3-sgn09.fptcloud.com/00000614_allerphast_180mg_4471_6361_large_d69336d518.jpg'"
                            alt="">
                        <span class="container-product-name">
                            <div style="color: black;">
                                Thuốc Allerphast 180mg Mebiphar điều trị viêm mũi dị ứng theo mùa, mày đay mạn tính vô
                                căn
                                (1 vỉ
                                x
                                10 viên)
                            </div>

                            <div style="margin-top: 4px; font-size: 14px;">+1 sản phảm khác</div>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <p style="margin: 0; padding: 0; color: black; text-align: right;">
                            2.500đ
                        </p>
                    </td>
                    <td style="width: 10%; text-align: right;">
                        <div class="" style="width: 100px;">
                            x1 viên
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="padding: 0 16px 12px 16px;" class="d-flex justify-content-between">
            <a class="text-info">
                Xem chi tiết
                <i class="last-icon fa-solid fa-angle-right"></i>
            </a>

            <div>
                <span>Thành tiền: </span><strong class="text-info" style="font-size: 18px;">30.000đ</strong>
            </div>
        </div>
    </div>

    <div style="border-top: 2px solid #EDF0F3;"></div>

    <div style="padding: 12px 16px 12px 16px;" class="d-flex justify-content-end">
        <div>
            <button class="btn btn-primary" style="padding: 6px 50px;">Mua lại</button>
        </div>
    </div>
</div>