.cart-list-product {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  
  .cart-list-product img {
    width: 64px;
    height: 64px;
  }
  
  .cart-list-product span {
    display: inline-block;
    text-align: left;
    flex: 2;
    margin-left: 16px;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .container-product-name {
    display: block;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify !important;
  }
  
  .custom-table td {
    padding: 12px 16px;
  }
  
  .custom-table tr:hover {
    background-color: #fff;
  }
  
  .custom-table {
    margin-bottom: 0px;
  }
  
  .customer-container:hover {
    cursor: pointer;
  }
  
  .order-item {
    margin-bottom: 16px;
    background-color: #fff;
  }