<ngx-banner></ngx-banner>
<ngx-category></ngx-category>
<ngx-sale-product (childOnClickBuy)="handleChildOnClickBuy($event)"
    (childOnClickDetails)="handleChildOnClickDetails($event)"></ngx-sale-product>
<ngx-selling-product (childOnClickBuy)="handleChildOnClickBuy($event)"
    (childOnClickDetails)="handleChildOnClickDetails($event)"></ngx-selling-product>
<ngx-new-product (childOnClickBuy)="handleChildOnClickBuy($event)"
    (childOnClickDetails)="handleChildOnClickDetails($event)"></ngx-new-product>
<ngx-recommend-similar-product (childOnClickBuy)="handleChildOnClickBuy($event)"
    (childOnClickDetails)="handleChildOnClickDetails($event)"></ngx-recommend-similar-product>
<ngx-featured-category></ngx-featured-category>