<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="ecommerce/cart">Giỏ hàng</a>
                <span class="breadcrumb-item active">Thanh toán</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="container-fluid">
    <form (ngSubmit)="onClickCreateOrder()" #orderForm="ngForm" class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <!-- Danh sách sản phẩm -->
            <div>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Danh
                        sách sản
                        phẩm</span></h5>

                <table class="table table-light table-borderless table-hover text-center p-30 mb-5">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 50%;">Sản phẩm</th>
                            <th style="width: 20%;">Giá/Đơn vị</th>
                            <th style="width: 20%;">Số lượng</th>
                            <th style="width: 15%;">Tổng</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr *ngFor="let item of cartCheckOut">
                            <td class="cart-list-product">
                                <img [src]="fileService.loadImage(item.productImage)" alt="">
                                <span class="container-product-name">
                                    {{ item.productName }}
                                </span>
                            </td>
                            <td class="align-middle">
                                {{ utilTime.formatCurrency(loadPrice(item)) }}
                                <p style="margin: 0; padding: 0;">
                                    {{ item.unitName }}
                                </p>
                            </td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <input type="number"
                                        class="form-control form-control-sm bg-secondary border-0 text-center"
                                        [value]="item.quantity" readonly>
                                </div>
                            </td>
                            <td class="align-middle">{{ utilTime.formatCurrency(item.quantity * loadPrice(item)) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Chọn hình thức nhận hàng -->
            <ngx-checkout-info-receive
                [createOrderCommandRequest]="createOrderCommandRequest"></ngx-checkout-info-receive>

            <!-- Địa chỉ mới -->
            <ngx-checkout-new-address class="collapse mb-5" id="shipping-address"></ngx-checkout-new-address>
        </div>

        <div class="col-lg-4">
            <!-- Thanh toán -->
            <div>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thanh
                        toán</span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Tổng tiền</h6>
                            <h6>{{ utilTime.formatCurrency(subTotal) }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Giảm giá trực tiếp</h6>
                            <h6 class="font-weight-medium">{{ utilTime.formatCurrency(discountDirect) }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Giảm giá voucher</h6>
                            <h6 class="font-weight-medium">{{ utilTime.formatCurrency(discountVoucher) }}</h6>
                        </div>
                        <div *ngIf="discountVoucher > 0 || discountDirect > 0" class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Tiết kiệm được</h6>
                            <h6 class="font-weight-medium">{{ utilTime.formatCurrency(discountVoucher + discountDirect)
                                }}
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Phí vận chuyển</h6>
                            <h6 class="font-weight-medium">Miễn phí
                            </h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Thành tiền</h5>
                            <h5>{{ utilTime.formatCurrency(total) }}</h5>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Hoàn
                            tất</button>
                    </div>
                </div>
            </div>

            <!-- chọn hình thức thanh toán -->
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Chọn
                        phương thức
                        thanh toán</span>
                </h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-payment">
                            <input type="radio" [(ngModel)]="createOrderCommandRequest.paymentMethodId" value="952d51bb-c0bc-4aaa-bdef-83d5b47b2e2a"
                                name="paymentMethodId" id="paypal">
                            <img [src]="'https://cdn.nhathuoclongchau.com.vn/unsafe/48x0/filters:quality(90)/https://s3-sgn09.fptcloud.com/lc-public/app-lc/payment/cod.png'"
                                alt="">
                            <label for="paypal">Thanh toán tiền mặt</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-payment">
                            <input type="radio" [(ngModel)]="createOrderCommandRequest.paymentMethodId" value="db15f520-126c-4d52-8451-c3b7d0d983f1"
                            name="paymentMethodId" id="directcheck">
                            <img [src]="'https://cdn.nhathuoclongchau.com.vn/unsafe/48x0/filters:quality(90)/https://s3-sgn09.fptcloud.com/lc-public/app-lc/payment/qr.png'"
                                alt="">
                            <label for="directcheck">Thanh toán bằng chuyển khoản (VNPay) (QR
                                Code)</label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="custom-payment">
                            <input type="radio" [(ngModel)]="createOrderCommandRequest.paymentMethodId" value="e1d62685-baa3-4568-8d5f-b11f3b5a821a"
                            name="paymentMethodId" id="banktransfer">
                            <img [src]="'https://cdn.nhathuoclongchau.com.vn/unsafe/48x0/filters:quality(90)/https://s3-sgn09.fptcloud.com/lc-public/app-lc/payment/momo.png'"
                                alt="">
                            <label for="banktransfer">Thanh toán bằng ví MoMo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->