<div class="container-info">
    <div class="info">
        <img src="https://nhathuoclongchau.com.vn/estore-images/profile/v2/avatar-profile.svg" alt="">
        <p class="name">Đào Công Tuấn</p>
        <p class="phone">0909900009</p>
    </div>
</div>

<div class="sidebar">

    <nav class="nav flex-column">
        <a class="nav-link active">
            <span class="icon"><i class="fas fa-box"></i></span>
            Đơn hàng của tôi
            <i class="last-icon fa-solid fa-angle-right"></i>
        </a>
        <a class="nav-link">
            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
            Quản lý sổ địa chỉ
            <i class="last-icon fa-solid fa-angle-right"></i>
        </a>
        <a class="nav-link">
            <span class="icon"><i class="fas fa-syringe"></i></span>
            Lịch hẹn tiêm chủng
            <i class="last-icon fa-solid fa-angle-right"></i>
        </a>
        <a class="nav-link">
            <span class="icon"><i class="fas fa-file-alt"></i></span>
            Đơn hàng tiêm chủng
            <i class="last-icon fa-solid fa-angle-right"></i>
        </a>
        <a class="nav-link">
            <span class="icon"><i class="fas fa-prescription-bottle-alt"></i></span>
            Đơn thuốc của tôi
            <i class="last-icon fa-solid fa-angle-right"></i>
        </a>
        <a class="nav-link">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            Đăng xuất
            <i class="last-icon fa-solid fa-angle-right"></i>
        </a>
    </nav>
</div>