<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div style="background-color: #FFD333;" class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    <h3 class="text-center mb-4">Đăng nhập</h3>
                    <form (ngSubmit)="signIn()" #signInForm="ngForm" class="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control rounded-left" placeholder="Tên đăng nhập" required
                                [(ngModel)]="signInRequest.userName" name="userName">
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" class="form-control rounded-left" placeholder="Mật khẩu" required
                                [(ngModel)]="signInRequest.password" name="password">
                        </div>
                        <div class="form-group">
                            <button style="background: #FFD333 !important;" class="form-control btn btn-primary rounded submit px-3">Đăng nhập</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <!-- <label class="checkbox-wrap checkbox-primary">Nhớ mật khẩu
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label> -->

                                <a class="checkbox-primary" href="/ecommerce/account/sign-up">Bạn chưa có tài khoản?</a>
                            </div>
                            <div class="w-50 text-md-right">
                                <a class="checkbox-primary" href="#">Quên mật khẩu</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>