<div class="row pb-3">
    <div class="col-12 pb-1">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
            </div>
            <div class="ml-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                        data-toggle="dropdown">Sorting</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Latest</a>
                        <a class="dropdown-item" href="#">Popularity</a>
                        <a class="dropdown-item" href="#">Best Rating</a>
                    </div>
                </div>
                <div class="btn-group ml-2">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                        data-toggle="dropdown">Showing</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">10</a>
                        <a class="dropdown-item" href="#">20</a>
                        <a class="dropdown-item" href="#">30</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Loop for product items -->
    <div *ngFor="let item of itemProductResponses; let itemIndex = index" class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <div class="product-item bg-light mb-4">
            <div class="custom-promotion" *ngIf="item.discount">
                {{ item.discount <= 100 ? item.discount + "%" : utilMoney.formatCurrency(item.discount) }} </div>
                    <div class="product-img position-relative overflow-hidden custom-product-info">
                        <img class="img-fluid w-100" style="height: 200px;"
                            [src]="fileService.loadImage(item.productImage)" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="text-center py-4 custom-product-info">
                            <a (click)="triggerParentOnClickDetails(item)"
                                class="h6 text-decoration-none custom-product-name">
                                {{ item.productName }}
                            </a>
                            <div class="bg-secondary bg-light">
                                <div class="d-flex nav nav-tabs bg-light mb-2">
                                    <a class="col-lg-4 nav-item nav-link text-dark active" data-toggle="tab"
                                        style="padding: 3px 8px;"
                                        *ngFor="let sduItem of item.shipmentDetailsUnits; let index = index"
                                        (click)="onUnitChange(item, sduItem.unitId)"
                                        [href]="'#tab-pane-selling-product' + itemIndex + '-' + index"
                                        [class.active]="index === 0">
                                        {{ sduItem.unitName }}
                                    </a>
                                </div>
                                <div class="tab-content bg-light">
                                    <div *ngFor="let sduItem of item.shipmentDetailsUnits; let index = index"
                                        class="tab-pane fade show"
                                        [id]="'tab-pane-selling-product' + itemIndex + '-' + index"
                                        [class.active]="index === 0">
                                        <div class="d-flex align-items-center mt-2">
                                            <h6>{{ utilMoney.formatCurrency(sduItem.salePrice) }}</h6>
                                            <h6>/{{ sduItem.unitName }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: left;">
                                {{ item.specifications }}
                            </div>
                            <button (click)="triggerParentOnClickBuy(item)" class="custom-btn btn btn-primary"
                                style="margin-top: 10px; padding: 6px 0; width: 100%;">
                                Chọn mua
                            </button>
                        </div>
                    </div>
            </div>
        </div>
        <!-- End of product items loop -->

        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#"><span>Trước</span></a></li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li *ngFor="let index of numberOfPages" class="page-item">
                        <a class="page-link" *ngIf="index >= 2" href="#">{{ index }}</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                </ul>
            </nav>
        </div>
    </div>