<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="#">Cá nhân</a>
                <span class="breadcrumb-item active">Đơn hàng của tôi</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="container-fluid">
    <div class="row px-xl-5">
        <ngx-account-menu class="col-lg-3 mb-5"></ngx-account-menu>

        <div class="col-lg-9">
            <div class="col-12">
                <strong style="font-size: 20px; margin-bottom: 16px; color: #000;" class="breadcrumb-item text-dark">Đơn
                    hàng của tôi</strong>
            </div>

            <div class="col">
                <div class="bg-secondary">
                    <div class="nav nav-tabs bg-light mb-2">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Tất cả</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Đang xử lý ({{ quantityWaiting }})</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Đang giao ({{ quantityBeingDelivered }})</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-4">Đã giao</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-5">Đã hủy</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <ngx-order-all *ngIf="itemOrdersResponse.length > 0"
                                [itemOrdersResponse]="itemOrdersResponse"></ngx-order-all>
                        </div>

                        <div class="tab-pane fade" id="tab-pane-2">
                            <ngx-order-waiting *ngIf="itemOrdersResponse.length > 0"
                                [itemOrdersResponse]="itemOrdersResponse"></ngx-order-waiting>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <ngx-order-being-delivered *ngIf="itemOrdersResponse.length > 0"
                                [itemOrdersResponse]="itemOrdersResponse"></ngx-order-being-delivered>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-4">
                            <ngx-order-delivered *ngIf="itemOrdersResponse.length > 0"
                                [itemOrdersResponse]="itemOrdersResponse"></ngx-order-delivered>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-5">
                            <ngx-order-cancel *ngIf="itemOrdersResponse.length > 0"
                                [itemOrdersResponse]="itemOrdersResponse"></ngx-order-cancel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>