<form class="mb-30" action="">
    <div class="input-group">
        <input type="text" class="form-control border-0 p-4" placeholder="Mã giảm giá">
        <div class="input-group-append">
            <button class="btn btn-primary">Áp dụng mã giảm giá</button>
        </div>
    </div>
</form>
<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Giỏ hàng</span></h5>
<div class="bg-light p-30 mb-5">
    <div class="border-bottom pb-2">
        <div class="d-flex justify-content-between mb-3">
            <h6>Tổng tiền</h6>
            <h6>0 VNĐ</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Giảm giá trực tiếp</h6>
            <h6 class="font-weight-medium">0 VNĐ</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Giảm giá voucher</h6>
            <h6 class="font-weight-medium">0 VNĐ</h6>
        </div>
        <!-- <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Tiết kiệm được</h6>
            <h6 class="font-weight-medium">0 VNĐ</h6>
        </div> -->
    </div>
    <div class="pt-2">
        <div class="d-flex justify-content-between mt-2">
            <h5>Thành tiền</h5>
            <h5>0 VNĐ</h5>
        </div>
        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Mua hàng</button>
    </div>
</div>